@(field:Field, label:String = "")

<div class="image-previewer @if(field.hasErrors) {has-error}">
  @if(!label.isEmpty()) {
    <label class="control-label">@label</label>
  }
  
  <a class="thumbnail image-input" href="#">
    <img src="@if(!field.value.isDefined || field.value.get.isEmpty) {@routes.Assets.at("images/default.png")} else {@routes.Assets.at(field.value.get)}"
         data-default="@routes.Assets.at("images/default.png")" />
  </a>
  <input class="hidden-file-input" type="file" name="@field.name" accept="image/*">
  <input type="hidden" name="@field.name" value="@field.value.get" />
  @if(field.hasErrors) {
    <span class="help-block text-danger">@field.error.get.message</span>
  } else {
    <div class="checkbox">
      <label><input class="remove-image" type="checkbox" name="@(field.name + "Remove")" value="true" /> Remove Image</label>
    </div>
  }
</div>