@(data: controllers.Data)

@App(data) {

<div class="interface">

  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
      <strong>Getting Started</strong>
    </p>
    <p>
      Browse below for available rides. Use the filtering options to quickly find rides relevant to you.
    </p>
    <p>
      If you would like to offer a ride, click the "Create Carpool" button on the right to get started.
    </p>
  </div>

  <h2>Drivers</h2>

  <div class="filters panel panel-info">
    <div class="panel-heading">Filters</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Locations</label>
          <div class="col-sm-10">
            @for(location <- data.getStrings("locations")) {
              <div class="checkbox">
                <label><input type="checkbox" value="Salt Lake" /> @location</label>
              </div>
            }
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Days</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>M</strong>onday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>T</strong>uesday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>W</strong>ednesday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> Thu<strong>R</strong>sday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>F</strong>riday</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

        
        
  <ul class="drivers">
    @for(driver <- data.getUsers("drivers")) {
      <li>
        <div class="driver">
            <div class="driver-content">
                <a class="thumbnail carpool" href=""
                            data-toggle="modal" data-target="#carpool-info-modal"
                            data-name="{{name}}" data-phone="{{phone}}" data-location="{{location}}" data-comment="{{comment}}"
                            data-monday="{{days.m}}" data-tuesday="{{days.t}}" data-wednesday="{{days.w}}" data-thursday="{{days.r}}" data-friday="{{days.f}}">
                    <div class="image">
                        
                    </div>
                    <div class="caption">
                        <p><strong>@driver.name</strong>@driver.username</p>
                        <p>@driver.comment</p>
                        <div class="table-container">
                            <table class="table table-condensed">
                                <thead><tr>
                                    <th>M</th><th>T</th><th>W</th><th>R</th><th>F</th>
                                </tr></thead>
                                <tbody><tr>
                                    <td></td>
                                </tr></tbody>
                            </table>
                        </div>
                        <div class="preferences">
                            @if(driver.noSmoking==false){}else{
                               <span class="img-icon smoking" data-toggle="tooltip" data-placement="top" title="Smoking OK"></span>
                            }
                            @if(driver.noEating==false){}else{
                               <span class="img-icon eating" data-toggle="tooltip" data-placement="top" title="Eating OK"></span>
                            }
                            @if(driver.noDrinking==false){}else{
                               <span class="img-icon drinking" data-toggle="tooltip" data-placement="top" title="Drinking OK"></span>
                            }
                        </div>
                        <div class="meta">
                            @if(driver.sameGender==false){
                                <span class="label label-success"><i class="glyphicon glyphicon-star"></i> {{rating}}</span>
                            }
                            <span class="label label-default">@driver.origin</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
      </li>
    }
  </ul> 

</div>

}