@(data: controllers.Data)

@App(data) {

<div class="interface">

  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
      <strong>Getting Started</strong>
    </p>
    <p>
      Browse below for available rides. Use the filtering options to quickly find rides relevant to you.
    </p>
    <p>
      If you would like to offer a ride, click the "Create Carpool" button on the right to get started.
    </p>
  </div>

  <h2>Drivers</h2>

  <div class="filters panel panel-info">
    <div class="panel-heading">Filters</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Locations</label>
          <div class="col-sm-10">
            @for(location <- data.getStrings("locations")) {
              <div class="checkbox">
                <label><input type="checkbox" value="Salt Lake" /> @location</label>
              </div>
            }
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Days</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>M</strong>onday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>T</strong>uesday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>W</strong>ednesday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> Thu<strong>R</strong>sday</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="monday" /> <strong>F</strong>riday</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="drivers row">
    @for(driver <- data.getUsers("drivers")) {
      <div class="driver col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>@driver.name() <small>@driver.username()</small></h4></div>
          <div class="panel-body">
            <div class="images">
              @if(driver.userImage().length() == 0) {
                <img src="@routes.Assets.at("images/default.png")" />
              } else {
                <img src="@driver.userImage()" />
              }
              @if(driver.userImage().length() == 0) {
                <img src="@routes.Assets.at("images/default.png")" />
              } else {
                <img src="@driver.vehicleImage()" />
              }
            </div>
            <p>@driver.comment()</p>
            <div class="table-container">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>M</th><th>T</th><th>W</th><th>R</th><th>F</th>
                  </tr>
                </thead>
              </table>
            </div>
            <ul class="preferences">
              @if(driver.noSmoking()) {
                <li class="no-smoking" data-toggle="tooltip" data-placement="top" title="No Smoking"></li>
              }
              @if(driver.noEating()) {
                <li class="no-eating" data-toggle="tooltip" data-placement="top" title="No Eating"></li>
              }
              @if(driver.noDrinking()) {
                <li class="no-drinking" data-toggle="tooltip" data-placement="top" title="No Drinking"></li>
              }
            </ul>
            <div class="meta">
              <span class="label label-success"><i class="fa fa-star"></i> 4</span>
              <span class="label label-default">@driver.origin()</span>
            </div>
            <div class="buttons">
              <button class="btn btn-info btn-block"><i class="fa fa-info-circle"></i> View Info</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
}