@(data: controllers.Data, userForm: Form[models.formdata.UserFormData])

@App(data) {

<div class="profile">

  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
      <strong>Getting Started</strong>
    </p>
    <p>
      In this page, you can edit your general information. You can also publish your carpool which enables other users to find and request a ride from you.
    </p>
  </div>

  <h1>Profile</h1>

  @helper.form(routes.Application.saveProfile(), 'enctype -> "multipart/form-data") {

    <input type="hidden" name="username" value="@userForm("username").value" />

    <div class="form-group">    
      <label>Name</label>
      <input class="form-control" type="text" name="name" placeholder="Preferred Name" value="@userForm("name").value" />
    </div>

    <hr />

    <h2>
      <label>
        <input type="checkbox" name="isDriver" @if(userForm("isDriver").value == "true") { checked }/> Driver
        <small>(Check to enable other users to find and request a ride from you)</small>
      </label>
    </h2>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <label>Image of Yourself</label>
        <a class="thumbnail image-input" href="#" data-target="#userImage">
          @if(userForm("userImage").value.length == 0) {
            <img src="@routes.Assets.at("images/default.png")" />
          } else {
            <img src="@userForm("userImage").value" />
          }
        </a>
        <input class="hidden-file-input" id="userImage" type="file" name="userImage" accept="image/*">
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <label>Image of Your Vehicle</label>
        <a class="thumbnail image-input" href="#" data-target="#vehicleImage">
          @if(userForm("vehicleImage").value.length == 0) {
            <img src="@routes.Assets.at("images/default.png")" />
          } else {
            <img src="@userForm("vehicleImage").value" />
          }
        </a>
        <input class="hidden-file-input" id="vehicleImage" type="file" name="vehicleImage" accept="image/*">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Origin</label>  
        <input class="form-control" type="text" name="origin" placeholder="Where do you live?" value="@userForm("origin").value" />
      </div>

      <div class="col-sm-6 form-group">
        <label>Preferences</label>
        <div class="checkbox">
          <label><input type="checkbox" name="noSmoking" @if(userForm("noSmoking").value == "true") { checked }/> No Smoking</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="noEating" @if(userForm("noEating").value == "true") { checked }/> No Eating</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="noDrinking" @if(userForm("noDrinking").value == "true") { checked }/> No Drinking</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="sameGender" @if(userForm("sameGender").value == "true") { checked }/> Same Gender</label>
        </div>
      </div>
    </div>

    <h4>Times Available</h4>
    <table id="times-available" class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Mon<span class="hidden-xs">day</span></th>
          <th>Tue<span class="hidden-xs">sday</span></th>
          <th>Wed<span class="hidden-xs">nesday</span></th>
          <th>Thu<span class="hidden-xs">rsday</span></th>
          <th>Fri<span class="hidden-xs">day</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Arrival</th>
          <td><input class="form-control" type="text" name="arrivalM" value="@userForm("arrivalM").value" /></td>
          <td><input class="form-control" type="text" name="arrivalT" value="@userForm("arrivalT").value" /></td>
          <td><input class="form-control" type="text" name="arrivalW" value="@userForm("arrivalW").value" /></td>
          <td><input class="form-control" type="text" name="arrivalR" value="@userForm("arrivalR").value" /></td>
          <td><input class="form-control" type="text" name="arrivalF" value="@userForm("arrivalF").value" /></td>
        </tr>
        <tr>
          <th>Return</th>
          <td><input class="form-control" type="text" name="returnM" value="@userForm("returnM").value" /></td>
          <td><input class="form-control" type="text" name="returnT" value="@userForm("returnT").value" /></td>
          <td><input class="form-control" type="text" name="returnW" value="@userForm("returnW").value" /></td>
          <td><input class="form-control" type="text" name="returnR" value="@userForm("returnR").value" /></td>
          <td><input class="form-control" type="text" name="returnF" value="@userForm("returnF").value" /></td>
        </tr>
      </tbody>
    </table>

    <hr />

    <div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Save Changes</button>
    </div>
  }
</div>

}
