@(data: controllers.Data)

@App(data) {

<div class="profile">

  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
      <strong>Getting Started</strong>
    </p>
    <p>
      In this page, you can edit your general information. You can also publish your carpool which enables other users to find and request a ride from you.
    </p>
  </div>

  <h1>Profile</h1>
  <form action="saveProfile" method="post">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>First Name</label>
          <input class="form-control" name="firstName" type="text" placeholder="First Name" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control" name="lastName" type="text" placeholder="Last Name" />
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-6  col-md-4 col-lg-3">
        <label>Yourself</label>
        <a class="thumbnail" href="#">
          <img src="@routes.Assets.at("images/default.png")">
        </a>
      </div>
      <div class="col-sm-6  col-md-4 col-lg-3">
        <label>Your car</label>
        <a class="thumbnail" href="#">
          <img src="@routes.Assets.at("images/default.png")">
        </a>
      </div>
    </div>

    <hr/>

    <h2>
      <label>
        <input type="checkbox" /> Driver
        <small>(Check to enable other users to find and request a ride from you)</small>
      </label>
    </h2>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Origin</label>  
        <input class="form-control" type="text" placeholder="Where do you live?" />
      </div>

      <div class="col-sm-6 form-group">
        <label>Preferences</label>
        <div class="checkbox">
          <label><input type="checkbox" /> No Smoking</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> No Eating</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> No Drinking</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Same Gender</label>
        </div>
      </div>
    </div>

    <hr />

    <div>
      <button class="btn btn-lg btn-primary" type="button"><i class="fa fa-check"></i> Save Changes</button>
    </div>
  </form>
</div>

}
